pytest==2.6.4
future==0.14.3
watchdog==0.8.2
websocket-client==0.23.0
voluptuous==0.8.7
flotsam>=0.1
-e git+https://github.com/ampstat/purkinje-messages@37a8cd2805596ec4b431b9c203a33d76b81e2025#egg=purkinje-messages-qf
-e git+https://github.com/mailgun/expiringdict@bc21855fb8a51591a1b917cc82ba2e54805616c3#egg=expiringdict-qf
